apiVersion: v1
kind: Secret
metadata:
  name: promlens-secrets
  labels:
    app: {{ template "promlens.name" . }}
    chart: {{ template "promlens.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
type: Opaque
data:
  gcs-cred.json: {{ .Values.gcs_sa | quote  }}
