apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "bunnycdn-exporter.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ template "bunnycdn-exporter.name" . }}
    chart: {{ template "bunnycdn-exporter.chart" . }}
    release: {{ .Release.Name | quote }}
    heritage: {{ .Release.Service | quote }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: bunnycdn-exporter
  selector:
    matchLabels:
      app: {{ template "bunnycdn-exporter.name" . }}
  template:
    metadata:
      labels:
        app: {{ template "bunnycdn-exporter.name" . }}
      annotations:
        prometheus.io/scrape: {{ .Values.scrape | quote  }}
        prometheus.io/port: {{ .Values.port | quote  }}
    spec:
      containers:
        - name: bunnycdn-exporter
          image: {{ .Values.deployment.image }}:{{ .Values.deployment.version }}
          imagePullPolicy: {{ .Values.deployment.pull_policy }}
          command: ["/bin/bunnycdn_exporter"]
          args:
            - "--bunnycdn.timeout={{ .Values.deployment.timeout }}"
          resources:
{{ toYaml .Values.resources | indent 12 }}
          env:
            - name: BUNNYCDN_API_KEY
              {{- if .Values.secret.name }}
              valueFrom:
                secretKeyRef:
                  name: "{{ .Values.secret.name }}"
                  key: "{{ .Values.secret.key }}"
              {{- else}}
              value: {{ .Values.api_key }}
              {{ end }}
