fullnameOverride: ""
nameOverride: ""

deployment:
  # -- BunnyCDN Exporter Container Image
  image: "ricardoag/bunnycdn_exporter"
  # -- BunnyCDN Exporter Image Version
  version: "v0.2.3"
  # -- Pull Policy
  pull_policy: IfNotPresent
  timeout: 30s

# -- Kubernetes resource limits
resources:
  limits:
    # cpu: "0.5"
    memory: "20Mi"
  requests:
    cpu: "2m"
    memory: "20Mi"

# -- The BunnyCDN API Key, see https://support.bunny.net/hc/en-us/articles/360012168840
api_key: "mykey"
# -- Kubernetes secret which has api_key
secret:
  name: ""
  key: key_ref
# -- Scraping enabled?
scrape: "true"
# -- Scrape port
port: "9584"
