deployment:
  # -- Number of replicas
  replicas: 1
  # -- PromLens Conatiner Image
  image: "promlabs/promlens"
  # -- PromLens Container Image Version
  version: "latest"

config:
  # -- License key for PromLens
  license_key: ""

  grafana:
    # -- Enable Grafana Integration
    enabled: true
    # -- The URL of your Grafana installation, to enable the Grafana datasource selector.
    url:
    # -- The auth token to pass to the Grafana API, see https://grafana.com/docs/grafana/latest/http_api/auth/
    api_token:

  shared_links:
    gcs:
      # -- Enable Link Sharing via Google Storage Bucket
      enabled: true
      # -- Google Cloud Storage Account
      storage_account:
      # -- Bucket Name in Storage Account
      bucket: "promlens"

  web:
    # -- The address to listen on for the web API.
    listen_address: ":8080"
    # -- The URL under which PromLens is externally reachable (for example, if PromLens is served via a reverse proxy). Used for generating relative and absolute links back to PromLens itself. If the URL has a path portion, it will be used to prefix all HTTP endpoints served by PromLens. If omitted, relevant URL components will be derived automatically.
    external_url:
    # -- The default Prometheus URL to load PromLens with.
    default_prometheus_url:

  log:
    # -- Only log messages with the given severity or above. One of: [debug, info, warn, error]
    level: "info"
    # -- Output format of log messages. One of: [logfmt, json]
    format: "logfmt"
