---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    app.quarkus.io/build-timestamp: 2023-01-12 - 16:26:45 +0000
  labels:
    app.kubernetes.io/managed-by: {{ .Release.Service }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/name: {{ include "keycloak-operator.fullname" . }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    helm.sh/chart: {{ include "keycloak-operator.chart" . }}
  name: {{ include "keycloak-operator.fullname" . }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "keycloak-operator.fullname" . }}
      app.kubernetes.io/version: {{ .Chart.AppVersion }}
  template:
    metadata:
      annotations:
        app.quarkus.io/build-timestamp: 2023-01-12 - 16:26:45 +0000
      labels:
        app.kubernetes.io/name: {{ include "keycloak-operator.fullname" . }}
        app.kubernetes.io/version: {{ .Chart.AppVersion }}
    spec:
      containers:
        - env:
            - name: KUBERNETES_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: OPERATOR_KEYCLOAK_IMAGE
              value: quay.io/keycloak/keycloak:{{ .Chart.AppVersion }}
          image: quay.io/keycloak/keycloak-operator:{{ .Chart.AppVersion }}
          imagePullPolicy: Always
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /q/health/live
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 0
            periodSeconds: 30
            successThreshold: 1
            timeoutSeconds: 10
          name: {{ include "keycloak-operator.fullname" . }}
          ports:
            - containerPort: 8080
              name: http
              protocol: TCP
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /q/health/ready
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 0
            periodSeconds: 30
            successThreshold: 1
            timeoutSeconds: 10
      serviceAccountName: keycloak-operator
