# -- Number of replicas
replicaCount: 1
# -- Kafka-proxy Container Image
image: "grepplabs/kafka-proxy"
# -- Kafka-proxy Container Image Version
version: "v0.3.1"
# -- Kubernetes PullPolicy
pullPolicy: IfNotPresent

# -- Set kubernetes specific resource limits
resources: {}
  # requests:
  #   memory: 128Mi
  #   cpu: 1000m
  # limits:
  #   cpu: 2000m
  #   memory: 256Mi

# -- Set a pod annotations
podAnnotations:
  # -- Set a Prometheus scrape port
  prometheus.io/port: "9399"
  # -- Set a flag to mark pod for scrapping
  prometheus.io/scrape: "true"

# -- A toleration
tolerations: []
  # - key: "test"
  #   operator: "Exists"
  #   effect: "NoSchedule"

# -- A node selector label
nodeSelector: {}

# -- Node affinity configuration
affinity: {}

config:
  # -- TLS enabled on the proxy client.
  proxyClientTlsEnabled: true
  # -- TLS enabled on the proxy server. Requires a certificate deployed in a secret called 'kafka-proxy-cert' containing the certificate and key.
  proxyServerTlsEnabled: false
  # -- SASL enabled on the proxy client.
  proxyClientSaslEnabled: false
  # -- Kafka client configuration
  kafkaClient:
    jaas: org.apache.kafka.common.security.plain.PlainLoginModule required username="username" password="password";
    brokers:
    - kafka-0:9092
    - kafka-1:9092
  # -- Service Type, supported: LoadBalancer, NodePort
  loadBalancerType: NodePort
  # -- Specifies an IP for the load balancers. If omitted, an ephemeral IP is assigned.
  loadBalancerIP: ""
  # -- Configures optional firewall rules in GKE and in the VPC to only allow certain source ranges. If you omit this field, your Service accepts traffic from any IP address (0.0.0.0/0).
  loadBalancerSourceRanges:
    - 0.0.0.0/0
## -- Add annotation on statefulset in order to perform a rolling upgrade on secret/configmap changes   
reloader:
  onChange: false